/**

=========================================================
** Custom General styling
=========================================================

**/

@use "../core/variables" as *;



body {
    font-family: $body-font;
    letter-spacing: rem(-0.5);
}



@layer utilities {
    .card-clip {
        clip-path: inset(4px round 40px);
        &:hover {
            clip-path: inset(0px round 44px);
        }
    }
}

@layer components {
    .header-nav--menu {
        .active {
            background-color: var(--primary-700);
            color: white;
            @media (min-width: 1024px) {
                color: black;
                background-color: white;
            }
        }
    }
}
