:not(pre) > code[class*="language-"],
pre[class*="language-"] {
    @apply dark:bg-[#313131] bg-black-300 mt-0 rounded-t-none rounded-b-lg;
}

.remark-code-title + pre {
    @apply dark:bg-[#313131] bg-black-300 rounded-b-lg;
}

:not(.remark-code-title) + pre {
    @apply dark:bg-[#313131] bg-black-300 rounded-lg;
}

.remark-code-title {
    @apply dark:bg-[#292929] bg-[#494949] dark:text-dark_mode_text text-white text-center py-2 px-4 font-semibold rounded-t-lg;
}

pre[class*="language-"] {
    margin-bottom: 1;
    overflow: auto;
}

.code-container {
    position: relative; /* Make this the reference point for the copy button */
    overflow-x: auto;
    max-width: 100%;

    @apply py-2;
}

pre {
    position: relative;
    margin-bottom: 20px;
}

pre code {
    @apply bg-black-400 p-1 rounded-md;
    max-height: 300px;
    overflow-y: auto; /* Make the code block scrollable */
    display: block; /* Make the code block a block-level element */
}

:not(pre) > code {
    @apply bg-black-400 p-1 rounded-md;
    /* Make the code block a block-level element */
}

copy-code-button {
    position: absolute; /* Absolutely position the copy button */
    top: 5px; /* Adjust as needed */
    right: 5px; /* Adjust as needed */
}

/* Scrollbar */

pre code::-webkit-scrollbar-corner {
    background-color: transparent;
}

pre code::-webkit-scrollbar {
    width: 2px;
    height: 2px;
    background-color: transparent;
}

pre code::-webkit-scrollbar-track {
    background-color: transparent;
}

pre code.dark::-webkit-scrollbar-thumb {
    border-radius: 8px;
    background-color: #363636;
}

pre code.dark::-webkit-scrollbar-thumb:hover {
    background-color: #555;
}

pre code::-webkit-scrollbar-thumb {
    border-radius: 8px;
    background-color: #c1c1c1;
}

pre code::-webkit-scrollbar-thumb:hover {
    background-color: #a0a0a0;
}

/* Style the scrollbar for Mozilla Firefox */
pre code {
    scrollbar-width: thin;
    scrollbar-color: #363636 transparent;
}

pre code.dark::-moz-scrollbar-thumb {
    border-radius: 8px;
    background-color: #363636;
}

pre code.dark::-moz-scrollbar-thumb:hover {
    background-color: #555;
}

pre code::-moz-scrollbar {
    width: 5px;
    background-color: transparent;
}

pre code::-moz-scrollbar-track {
    background-color: transparent;
}

pre code::-moz-scrollbar-thumb {
    border-radius: 8px;
    background-color: #c1c1c1;
}

pre code::-moz-scrollbar-thumb:hover {
    background-color: #a0a0a0;
}

/* Hide the scrollbar initially */
pre code {
    scrollbar-width: 0;
    -ms-overflow-style: none; /* IE and Edge */
    overflow: -moz-scrollbars-none; /* Firefox */
}

/* Show the scrollbar when dark mode is applied */
pre code.dark {
    scrollbar-width: thin;
    -ms-overflow-style: auto; /* IE and Edge */
    overflow: overlay; /* Firefox */
}
