---
// import CardImage from "@/components/card/CardImage.astro";
// import Logo from "./public/images/derp.png";
import ExperienceCard from "./ExperienceTemplate.astro";
---

<div class="flex flex-col gap-4">
    <div class="flex flex-col gap-6">
        <span class="text-gray-700 font-bold dark:text-gray-300 text-3xl"
            >Work Experience</span
        >
        <ExperienceCard />
    </div>
</div>
