---
// import CardImage from "@/components/card/CardImage.astro";
// import Logo from "./public/images/derp.png";
---

<div class="flex flex-col gap-4">
    <div class="flex gap-6">
        <img
            src="/images/derp.png"
            alt="A description of my image."
            width="20%"
            height="20%"
            class="object-scale-down"
        />
        <div>
            <!-- Main Info -->

            <div
                class="text-3xl font-extrabold text-gray-900 dark:text-dark_mode_text"
            >
                Charles Nguyen
            </div>
            <div
                class="text-lg font-medium text-gray-600 dark:text-dark_mode_text"
            >
                Student @ University of San Diego
            </div>

            <!-- Contact Page -->

            <div
                class="flex gap-x-2 gap-y-1 pt-4 font-semibold tracking-wider text-sm text-gray-600 dark:text-dark_mode_text"
            >
                <span class="text-sm"> Email:</span>
                <a
                    href="mailto:contact@chark1es.dev"
                    class="font-medium relative group underline"
                >
                    contact@chark1es.dev
                </a>
            </div>

            <div
                class="flex gap-x-2 gap-y-1 pt-1 font-semibold tracking-wider text-sm text-gray-600 dark:text-dark_mode_text"
            >
                <span class="text-sm"> From:</span>
                <a class="font-medium relative group">
                    Los Angeles, California
                </a>
            </div>

            <div
                class="flex gap-x-2 gap-y-1 pt-1 font-semibold tracking-wider text-sm text-gray-600 dark:text-dark_mode_text"
            >
                <span class="text-sm"> Major:</span>
                <a class="font-medium relative group">Computer Science B.S.</a>
            </div>

            <div class="pt-4">
                <a
                    class="flex items-center bg-gray-100 rounded dark:bg-black-400 dark:text-gray-100 gap-x-1.5 h-6 px-2.5 text-gray-600 text-sm tracking-wide w-fit transition hover:duration-500 hover:scale-110 select-none"
                    href="/pdfs/my_resume"
                >
                    <iconify-icon
                        icon="mdi:resume"
                        height="15"
                        width="15"
                        style=""></iconify-icon>
                     Click to view my resume!
                </a>
            </div>
        </div>
    </div>
</div>
