---
// import CardImage from "@/components/card/CardImage.astro";
// import Logo from "./public/images/derp.png";

import type { SkillsSection } from "../../types/skills-section.types";
import Skill from "./SkillCardTemplate.astro";
import SkillButton from "./SkillCardButtonTemplate.astro";
// import skillLevel from "@/data/skillLevel.json";
export interface Props extends SkillsSection {}
---

<div class="flex flex-col gap-4">
    <span class="text-gray-700 font-bold dark:text-gray-300 text-3xl">
        Skills</span
    >
    <span class="text-gray-700 font-bold dark:text-gray-300 text-md">
        I currently know</span
    >
    <div class="flex flex-col gap-1">
        <!-- Skills -->
        <div class="flex flex-wrap gap-2 gap-x-28 gap-y-6">
            <Skill
                skillName="Python"
                skillIcon="vscode-icons:file-type-python"
                skillLevel="3"
            />

            <Skill
                skillName="HTML"
                skillIcon="vscode-icons:file-type-html"
                skillLevel="2"
            />
            <Skill
                skillName="Markdown"
                skillIcon="skill-icons:markdown-dark"
                skillLevel="4"
            />
            <Skill
                skillName="Tailwind CSS"
                skillIcon="vscode-icons:file-type-tailwind"
                skillLevel="2"
            />
            <Skill
                skillName="Javascript"
                skillIcon="skill-icons:javascript"
                skillLevel="1"
            />
            <Skill skillName="Java" skillIcon="logos:java" skillLevel="1" />
            <Skill skillName="Hugo" skillIcon="devicon:hugo" skillLevel="2" />
            <Skill
                skillName="AstroJS"
                skillIcon="devicon:astro"
                skillLevel="2"
            />
            <Skill
                skillName="Adobe After Effects"
                skillIcon="skill-icons:aftereffects"
                skillLevel="1"
            />
            <Skill
                skillName="Adobe Premiere Pro"
                skillIcon="skill-icons:premiere"
                skillLevel="1"
            />
            <Skill
                skillName="Adobe Photoshop"
                skillIcon="skill-icons:photoshop"
                skillLevel="1"
            />
            <!-- Knowledge Bar -->
        </div>
        <span class="pt-10 text-gray-700 font-bold dark:text-gray-300 text-md">
            I want to learn
        </span>
        <div class="flex flex-wrap gap-3 pt-2">
            <!-- Knowledge Bar -->
            <SkillButton skillName="C++" skillIcon="logos:c-plusplus" />
            <SkillButton skillName="C#" skillIcon="devicon:csharp" />
            <SkillButton skillName="Unity" skillIcon="skill-icons:unity-dark" />
            <SkillButton
                skillName="Unreal Engine"
                skillIcon="file-icons:unrealscript"
            />

            <SkillButton
                skillName="Next.js"
                skillIcon="skill-icons:nextjs-dark"
            />
            <SkillButton
                skillName="Typescript"
                skillIcon="skill-icons:typescript"
            />
        </div>

        <span class="pt-10 text-gray-700 font-bold dark:text-gray-300 text-md">
            I speak
        </span>
        <div class="flex flex-wrap gap-3 pt-2">
            <!-- Knowledge Bar -->
            <SkillButton
                skillName="English"
                skillIcon="emojione-v1:flag-for-united-states"
            />
            <SkillButton
                skillName="Vietnamese"
                skillIcon="twemoji:flag-vietnam"
            />
        </div>
    </div>
</div>
