---

const { class: className, imageClass, width, height, alt, src } = Astro.props;
import { Image } from 'astro:assets'
---

<div class={`card--image ${className && className}`}>
    <Image
        src={src}
        width={width}
        height={height}
        alt={alt}
        loading="lazy"
        format={"webp"}
        class={`object-cover ${imageClass && imageClass}`}
    />
</div>
