---
import Layout from "@/layouts/Layout.astro";
---

<Layout title="404" description="How did you get here?">
    <div
        class="flex flex-wrap p-5 h-screen min-h-full flex-col justify-center dark:text-dark_mode_text"
    >
        <h1 class="flex justify-center font-semibold text-center">
            You aren't supposed to be here!
        </h1>
        <h1
            class="flex justify-center font-semibold dark:text-dark_mode_text text-center"
        >
            :(
        </h1>
    </div>
</Layout>
