---
import Layout from "@/layouts/Layout.astro";
---

<Layout title="Terms of Service" description="Read our terms of service!">
    <main
        class="flex flex-col justify-center mt-5 items-center overflow-x-hidden xl:left-7 mx-auto"
    >
        <div
            class="lg:py-5 lg:space-y-8 max-w-5xl px-2 py-3 sm:px-8 sm:py-12 sm:space-y-6 space-y-4 w-full"
        >
            <div
                class="flex flex-col p-5 rounded-2xl text-lg shadow-md bg-white dark:text-dark_mode_text dark:bg-dark_mode_post font-bold"
            >
                <p class="">
                    Terms of Service - <a href="/" class="underline"
                        >https://chark1es.dev</a
                    >
                </p>
                <span class="text-sm font-normal"
                    >Effective Date: September 6, 2023</span
                >

                <span
                    class="text-sm mt-5 font-normal dark:text-dark_mode_text_light_gray"
                    >Welcome to https://chark1es.dev! These Terms of Service
                    ("Terms") govern your use of the website located at
                    https://chark1es.dev (the "Website") owned and operated by
                    Charles Nguyen ("Charles," "we," or "us"). By accessing or
                    using the Website, you agree to be bound by these Terms. If
                    you do not agree with any part of these Terms, please
                    refrain from using the Website.</span
                >
                <div class="text-md mt-5 font-bold">
                    Ownership and Content:
                    <div
                        class="font-normal text-sm dark:text-dark_mode_text_light_gray"
                    >
                        The content available on the Website, including but not
                        limited to images, links, PDFs, and other file types
                        ("Content"), is provided for informational purposes
                        only. Charles does not claim ownership of the files or
                        links present on the Website, unless explicitly stated
                        otherwise. The Content may have been sourced from
                        various third parties and is shared on the Website
                        without any affiliation or endorsement by Charles.
                    </div>
                </div>
                <div class="text-md mt-5 font-bold">
                    Liability and Disclaimer:
                    <div
                        class="font-normal text-sm dark:text-dark_mode_text_light_gray"
                    >
                        Charles is not responsible for the accuracy,
                        reliability, legality, or validity of any Content
                        provided on the Website. Your use of any Content or
                        reliance upon it is at your own risk. Charles shall not
                        be held liable for any direct, indirect, incidental,
                        consequential, or special damages arising out of or in
                        connection with your use of the Website or any Content
                        contained therein.
                    </div>
                </div>
                <div class="text-md mt-5 font-bold">
                    Third-Party Links:
                    <div
                        class="font-normal text-sm dark:text-dark_mode_text_light_gray"
                    >
                        The Website may contain links to third-party websites
                        that are not owned or controlled by Charles. These links
                        are provided solely for your convenience, and Charles
                        has no control over the content, policies, or practices
                        of these third-party websites. Therefore, we disclaim
                        any responsibility for the actions, products, services,
                        or content of such third parties. You acknowledge and
                        agree that Charles shall not be held liable for any
                        damages or losses incurred as a result of your use of or
                        reliance on any third-party websites.
                    </div>
                </div>
                <div class="text-md mt-5 font-bold">
                    Modifications:
                    <div
                        class="font-normal text-sm dark:text-dark_mode_text_light_gray"
                    >
                        Charles reserves the right, at its sole discretion, to
                        modify or replace these Terms at any time. Any changes
                        will be effective immediately upon posting on the
                        Website. Your continued use of the Website after any
                        such modifications shall constitute your consent to the
                        updated Terms.
                    </div>
                </div>
                <div class="text-md mt-5 font-bold">
                    Governing Law:
                    <div
                        class="font-normal text-sm dark:text-dark_mode_text_light_gray"
                    >
                        These Terms shall be governed by and construed in
                        accordance with the laws of the jurisdiction where
                        Charles resides, without regard to its conflict of law
                        provisions. Any disputes arising out of or in connection
                        with these Terms shall be subject to the exclusive
                        jurisdiction of the courts located in that jurisdiction.
                    </div>
                </div>
                <div class="text-md mt-5 font-bold">
                    Severability:
                    <div
                        class="font-normal text-sm dark:text-dark_mode_text_light_gray"
                    >
                        If any provision of these Terms is found to be
                        unenforceable or invalid under any applicable law, such
                        unenforceability or invalidity shall not render these
                        Terms unenforceable or invalid as a whole, and such
                        provisions shall be deleted without affecting the
                        remaining provisions herein. By accessing or using the
                        Website, you acknowledge that you have read, understood,
                        and agree to be bound by these Terms. If you do not
                        agree to these Terms, please refrain from using the
                        Website. If you have any questions regarding these
                        Terms, please contact us at contact@chark1es.org
                    </div>
                </div>
                <div
                    class="font-normal text-sm mt-5 dark:text-dark_mode_text_light_gray"
                >
                    Thank you for visiting https://chark1es.dev!
                </div>
            </div>
        </div>
    </main>
</Layout>
