<div class="pt-4">
    <nav
        class="mx-auto flex h-12 w-fit items-center justify-center gap-x-2 rounded-md dark:bg-dark_mode_bg_nav bg-white px-12 shadow-md"
    >
        <!-- Navbar Menu -->

        <a
            class="group dark:text-dark_mode_text font-bold text-black rounded-md px-2 py-1 text-sm uppercase tracking-wider"
            href="/"
        >
            <span class="relative inline-block">
                Home
                <span
                    class="transition-all group-hover:duration-500 ease-in-out absolute bottom-0 left-1/2 w-[100%] h-0.5 bg-black-500 transform -translate-x-1/2 scale-x-0 dark:bg-dark_mode_text group-hover:scale-x-100"
                ></span>
            </span>
        </a>

        <a
            class="group dark:text-dark_mode_text font-bold text-black rounded-md px-2 py-1 text-sm uppercase tracking-wider"
            href="/blogs"
        >
            <span class="relative inline-block">
                Blogs
                <span
                    class="transition-all group-hover:duration-500 ease-in-out absolute bottom-0 left-1/2 w-[100%] h-0.5 bg-black-500 transform -translate-x-1/2 scale-x-0 dark:bg-dark_mode_text group-hover:scale-x-100"
                ></span>
            </span>
        </a>
        <a
            class="group dark:text-dark_mode_text font-bold text-black rounded-md px-2 py-1 text-sm uppercase tracking-wider"
            href="/tags"
        >
            <span class="relative inline-block">
                Tags
                <span
                    class="transition-all group-hover:duration-500 ease-in-out absolute bottom-0 left-1/2 w-[100%] h-0.5 bg-black-500 transform -translate-x-1/2 scale-x-0 dark:bg-dark_mode_text group-hover:scale-x-100"
                ></span>
            </span>
        </a>
        <!-- Theme Switcher: -->

        <button
            id="theme-toggle"
            type="button"
            class="text-gray-500 dark:text-gray-400 hover:bg-gray-100 dark:hover:bg-dark_mode_post dark:focus:ring-gray-700 rounded-lg text-sm p-2.5"
        >
            <svg
                id="theme-toggle-dark-icon"
                class="w-5 h-5 hidden"
                fill="currentColor"
                viewBox="0 0 20 20"
                xmlns="http://www.w3.org/2000/svg"
            >
                <path
                    d="M17.293 13.293A8 8 0 016.707 2.707a8.001 8.001 0 1010.586 10.586z"
                ></path>
            </svg>
            <svg
                id="theme-toggle-light-icon"
                class="w-5 h-5 hidden"
                fill="currentColor"
                viewBox="0 0 20 20"
                xmlns="http://www.w3.org/2000/svg"
            >
                <path
                    d="M10 2a1 1 0 011 1v1a1 1 0 11-2 0V3a1 1 0 011-1zm4 8a4 4 0 11-8 0 4 4 0 018 0zm-.464 4.95l.707.707a1 1 0 001.414-1.414l-.707-.707a1 1 0 00-1.414 1.414zm2.12-10.607a1 1 0 010 1.414l-.706.707a1 1 0 11-1.414-1.414l.707-.707a1 1 0 011.414 0zM17 11a1 1 0 100-2h-1a1 1 0 100 2h1zm-7 4a1 1 0 011 1v1a1 1 0 11-2 0v-1a1 1 0 011-1zM5.05 6.464A1 1 0 106.465 5.05l-.708-.707a1 1 0 00-1.414 1.414l.707.707zm1.414 8.486l-.707.707a1 1 0 01-1.414-1.414l.707-.707a1 1 0 011.414 1.414zM4 11a1 1 0 100-2H3a1 1 0 000 2h1z"
                    fill-rule="evenodd"
                    clip-rule="evenodd"></path>
            </svg>
        </button>
    </nav>
</div>
